:root {
    --primary-color: #04446e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: var(--primary-color);
}

h1,
h2 {
    margin: 20px;
}

header {
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 40px;
}

nav {
    position: relative;
    margin: -75px 0 0 0;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    padding: 0px 20px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header,
footer {
    width: 100%;
    line-height: 60px;
    background-color: var(--primary-color);
}

footer {
    position: relative;
    margin-top: 0;
    bottom: 0;
    color: #FDF8F5;
}

.container1 {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

#about-me-header {
    font-size: 32px;
    padding: 20px;
    text-align: center;
    border-right: 2px solid var(--primary-color);
}

#photo {
    position: relative;
    margin: 50px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}

#about-me-text {
    text-align: center;
    padding: 5px;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
    height: auto;
}

.container2 a {
    text-decoration: none;
    color: white;
}

.card1 {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 500px;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
    width: 500px;
    max-width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px 1px grey;
    color: white;
    background-color: black;
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    padding: 5px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 500px;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
    width: 350px;
    max-width: 350px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px 1px grey;
    color: white;
    background-color: black;
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    padding: 5px;
}

.portfolio {
    display: flex;
    justify-content: flex-start;
}

#portfolio-header {
    font-size: 32px;
    padding: 20px;
    text-align: center;
    border-right: 2px solid var(--primary-color);
}

#horiseon-marketing {
    background-image: url("../images/marketing-image.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#coding-intro {
    background-image: url("../images/study-image.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#coming-soon {
    background-image: url("../images/more-coming-soon.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 30vh;
}

.contact-me {
    display: flex;
    justify-content: flex-start;
}

#contact-me-header {
    font-size: 32px;
    padding: 20px;
    text-align: center;
    border-right: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.container3 ul {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

.container3 ul li {
    display: flex;
    margin-left: 10px;
    padding: 0px 20px;
    text-decoration: none;
}

.container3 ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (max-width: 992px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #772014;
    }
    header div {
        flex: 1 0 100%;
        background-color: yellow;
    }
    header nav {
        flex: 1 0 100%;
        background-color: black;
    }

    .container2 {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card1 {
        flex: 1 0 70%;
        min-height: 35vh;
        padding: 5px;
        margin: 5px;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 6px 15px 1px grey;
        color: white;
        background-color: black;
        font-weight: bold;

    }

    .card {
        flex: 1 0 90%;
        min-height: 35vh;
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 6px 15px 1px grey;
        color: white;
        background-color: black;
        font-weight: bold;
    }

    .card, .card1 {
        font-size: larger;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        background: #8ca308;
    }

    header div {
        flex: 1 0 40%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: auto;
    }

    header nav {
        flex: 1 0 40%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: auto;
        float: none;
    }

    header nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        padding: 2px;
        margin: 2px;
    }
}